<IfModule mod_rewrite.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>

<Files "*.json">
  Header set Access-Control-Allow-Origin "*"
  Access-Control-Allow-Origin: *
  Access-Control-Allow-Methods: GET, POST, PUT, DELETE
  Access-Control-Allow-Headers: Authorization
</Files>

